#task-input {
  margin-bottom: 10px;
}

.task-list-item {
  display: flex;
  justify-content: space-between;
  width: 200px;
  margin: 3px 0px;
}

.task-list-item p {
  width: 20ch;
  word-wrap: break-word;
}

.delete-button {
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
}
